.App {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.clavier {
  background-color: #6E3737;
  border-radius: 3px;
  padding: 10px;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clavier .lettre {
  width: 52px;
  height: 52px;
  font-family:'Courier New', Courier, monospace;
  margin: 3px;
  border-radius: 3px;


  line-height: 50px;
  text-align: center;

  /* Pour rendre le texte non sélectionnable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.clavier .lettre-utilisee {
  background-color: #A9D962;
  color: white;
}

.clavier .lettre-inutilisee {
  background-color: white;
  color: black;
}

.clavier .lettre-rejouer {
  background-color: white;
  color: black;
}

.clavier .lettre-rejouer:hover {
  background-color: #A9D962;
  color: white;
}

.clavier .lettre-inutilisee:hover {
  background-color: #C5958B;
  color: white;
}
.mot p {
  text-align: right;
  font-size: 3em;
  letter-spacing: 5px;
}

/*
BARRE DE barreVie
*/

/* .barreVieContainer {
  position: relative;
  float: left;
  max-width: 20%;
  min-width: 70px;
  height: 100px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.barreVie {
  background-color: #A9D962;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
} */